.sign{
    width: 26%;
    height: 60vh;
    margin: auto;
    margin-top: 60px;
    padding: 90px 50px;
    border: 2px solid black;
}
.btn-get-started{
    background-color: #fff;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 50px;
    transition: 0.5s;
    color: #3498db;
    border: 2px solid #3498db;
    text-decoration: none;
  }
.btn-get-started:hover{
    background-color: #3498db;
    color: #fff;
  }