.leftside,.rightside{
    height: 100vh;
    width: 100%;
}
@media screen and(min-width:600px){
    .leftside,.rightside{
        height: 500px;
    }
}
.leftside{
    /* border: 2px solid black; */
    display: grid;
    place-items: center;
}
.rightside{
    /* border: 2px solid black; */
    display: grid;
    place-items: center;
}
.box-1{
    padding: 0px 40px;
    position: relative;
    width: 80%;
    height: 80vh;
    background: #D8BFD8;
    margin-left: 18px;
    margin-top: 25px;
    border: 2px solid black;

}
.box-2{
    padding: 0px 40px;
    position: relative;
    margin-left: 10px;
    margin-top: 25px;
    width: 80%;
    height: 80vh;
    border: 2px solid black;
    font-family: serif;

}
.box-2 input[type='text']{
    /* display: ; */
    display: block;
    width: 300px;
    height: 20px;

}
.box-2 input[type='password']{
    /* display: ; */
    display: block;
    width: 300px;
    height: 20px;

}
.box-2 h1{
    text-align: center;
    font-family: sans-serif;
}
.box-2-1{
    padding-top: 40px;
    padding-left: 30px;
}
.btn{
    padding-top: 5px;
    text-align: center;
}
.box-1-2{
    /* padding-top: 0px; */
    /* margin-la: auto; */
    position: relative;
    margin-top: 80px;
    margin-left: 100px;
    width: 50%;
    height: 80vh;
    /* border: 2px solid black; */
}